{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid ">
        <h3>About Us</h3>
        <div class="d-flex gap-3 justify-content-center mt-5">
            <img src="https://picsum.photos/300/300" alt="">
            <div class="content">
                <p>{{about_content}}</p>
                
                
                
                
                
            </div>
            <div class="skills">
                <p><b>Skills and Expertise Programming Languages</b>
                    {{Programming_Languages}}</p>
                    <p><b>Problem solving</b><br>
                        {{problem_solving}}</p>
                </div>
            <div class="skills">
                <p><b>Database Management</b><br>
                    {{Database_Management}}</p>
                    <p><b>Web Development</b>
                        {{Web_development}}</p>
                </div>
            <div class="skills">
                </div>
             <div class="skills">
                    </div>
        </div>
    </div>
    {% endblock %}